* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial;
  font-style: normal;
}

ul,
li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

a, a:visited, a:active {
  color: #fff;
}

a:hover {
  text-decoration: underline;
}

.container {
}

.header {
  width: 100%;
  padding: 25px;
  background: #383b37;
  color: #fff;
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);

  display: flex;
  justify-content: center;
  align-items: center;

  font-weight: bold;
  font-size: 16px;
  line-height: 23px;
}

.header--left {
  display: flex;
  margin-right: 25px;
}

.header--left li {
  cursor: pointer;
  padding: 0 20px;
}

.header--left li:not(:last-child) {
  border-right: 1px solid black;
}

.header--right {
  display: flex;
  flex-direction: row;
  font-size: 22px;
}

.header--right svg {
  fill: white;
  height: 25px;
  width: 25px;
  margin: 0 10px;
}

.main-title {
  width: 70%;
  margin: 40px auto 30px auto;

  font-weight: bold;
  font-size: 16px;
  line-height: 25px;
}

.store-items {
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}

.item {
  border: 2px solid #e5e5e5;
  background: #ffffff;
  padding: 10px;

  display: flex;
  flex-flow: column nowrap;
  justify-content: flex-start;
}

.item img {
  width: 100%;
}

.item__title {
  margin: 10px 0;
}

.item__desc {
  margin-bottom: 25px;
}

.item__bottom {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  margin: 15px 0;
  margin-top: auto;
}

.heart--empty {
  height: 40px;
  width: 40px;
  background: rgba(133, 178, 255, 0.5);
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.heart--full {
  height: 40px;
  width: 40px;
  background: #85B2FF;
  border-radius: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.heart--empty svg, .heart--full svg {
  fill: white;
  height: 25px;
  width: 25px;
}

.item__price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item__old-price {
  text-decoration: line-through;
  font-size: 15px;
}

.item__new-price {
  font-size: 18px;
}

.dropdown {
  display: inline-block;
  position: relative;
}

.dropdown a:hover {
    color: #85B2FF
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  top: 23px;
  left: 0px;
}

.dropdown:hover .dropdown-content{
  display: block;
}

.dropdown-content a {
  color: white;
  margin: 5px 16px;
  padding: 5px 11px;
  text-decoration: none;
  display: block;
  text-align: left;
  border-bottom: 1px solid #fff;
}

.dropdown-content a:hover {
  color: #85B2FF
}

.dropdown-content a:last-child {
  border-bottom: none
}