<!DOCTYPE html>
<html lang="en">
	<head>
		<title>
			{% block page_title %}{% endblock %}
		</title>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" type="text/css" href="/styles/myStyle.css"/>
	</head>
	<body>

		<div class="container">
			<div class="header">
				<ul class="header--left"> {% block content_navigation %}{% endblock %}
					{#
            <li>Home</li>
            <li>About</li>
            <li>Products</li>
            <li>Services</li>
            <li>Blog</li>
            <li>Contact</li> 
          #}
      </ul>
					<ul class="header--right">
						<svg>
							<use href="/img/icons.svg#icon-heart-outlined"></use>
						</svg>
						<svg>
							<use href="/img/icons.svg#icon-shopping-cart"></use>
						</svg>
					</ul>
				</div>

				<div class="main-title">
					<h1>
						{% block page_main %}{% endblock %}
					</h1>
				</div>

				<div class="store-items">
          {% block page_item %}{% endblock %}

				</div>
			</div>
		</body>
	</html>
</body>
</html>